Repository Kurt812/trend-getters-project, pull requests merged in 2024-12, with the labels that each got.

#13 adding the erd diagram
  README.md
  images/ERD-diagram.png
Labels: documentation

#17 #7 GitHub actions
  .github/badges/test.svg
  .github/workflows/development.yml
  README.md
Labels: enhancement

#29 #24 database schema
  pipeline/README.md
  pipeline/connect.sh
  pipeline/reset.sh
  pipeline/schema.sql
Labels: setup, database

#30 #9 extract
  pipeline/bluesky_extract.py
  pipeline/requirements.txt
Labels: pipeline

#33 #9 extract
  .github/badges/pylint.svg
  .gitignore
  pipeline/trends_extract.py
  requirements.txt
Labels: bug

#34 #15 transform
  .github/badges/pylint.svg
  pipeline/bluesky_extract.py
  pipeline/requirements.txt
  pipeline/transform.py
Labels: pipeline

#38 added ecr for pipeline
  terraform/pipeline_ecr.tf
Labels: terraform

#40 added ecr for dashboard
  terraform/dashboard_ecr.tf
Labels: terraform, dashboard

#47 #31 create api
  .github/badges/pylint.svg
  dashboard/dashboard.py
  dashboard/requirements.txt
  pipeline/Dockerfile
  pipeline/api.py
  pipeline/load.py
  pipeline/requirements.txt
Labels: enhancement

#48 #19 test extract
  .gitignore
  pipeline/bluesky_extract.py
  pipeline/requirements.txt
  pipeline/test_bluesky_extract.py
Labels: testing

#52 Fix requirements
  .github/badges/pylint.svg
  dashboard/requirements.txt
  pipeline/requirements.txt
  requirements.txt
Labels: enhancement

#53 Completing extract.py
  .github/badges/pylint.svg
  pipeline/bluesky_extract.py
  pipeline/extract.py
  pipeline/requirements.txt
  pipeline/transform.py
  pipeline/trends_extract.py
Labels: pipeline

#54 #49 update readmes
  README.md
  clean/README.md
  dashboard/README.md
  pipeline/README.md
  requirements.txt
  terraform/README.md
  upload/README.md
Labels: documentation

#60 #58 changing upload
  .github/badges/pylint.svg
  upload/upload.py
Labels: pipeline

#61 #19 test extract
  .github/badges/pylint.svg
  dashboard/README.md
  pipeline/extract.py
  pipeline/requirements.txt
  pipeline/test_bluesky_extract.py
  pipeline/test_extract.py
  upload/README.md
Labels: testing, pipeline

#65 #63 modify extract
  pipeline/extract.py
Labels: pipeline

#59 41 terraform resources ecs task definition for pipeline
  terraform/dashboard_ecr.tf
  terraform/pipeline_ecs.tf
  terraform/rds.tf
  terraform/upload_ecs.tf
  terraform/variables.tf
Labels: terraform

#72 Loading user information into database
  .github/badges/pylint.svg
  .github/badges/test.svg
  dashboard/dashboard.py
  pipeline/api.py
  pipeline/load.py
  pipeline/schema.sql
  requirements.txt
Labels: enhancement, pipeline, dashboard, database

#69 Merge Development
  .github/badges/pylint.svg
  .github/badges/test.svg
  .github/workflows/development.yml
  .gitignore
  README.md
  clean/README.md
  clean/clean.py
  clean/dockerfile
  clean/requirements.txt
  dashboard/README.md
  dashboard/dashboard.py
  dashboard/requirements.txt
  images/ERD-diagram.png
  images/architecture_diagram.png
  images/dashboard_wireframe.png
  pipeline/Dockerfile
  pipeline/README.md
  pipeline/api.py
  pipeline/connect.sh
  pipeline/extract.py
  pipeline/load.py
  pipeline/requirements.txt
  pipeline/reset.sh
  pipeline/reset_s3.py
  pipeline/schema.sql
  pipeline/test_extract.py
  pipeline/transform.py
  requirements.txt
  terraform/README.md
  terraform/dashboard_ecr.tf
  terraform/main.tf
  terraform/pipeline_ecr.tf
  terraform/pipeline_ecs.tf
  terraform/rds.tf
  terraform/requirements.txt
  terraform/upload_ecs.tf
  terraform/variables.tf
  upload/README.md
  upload/dockerfile
  upload/requirements.txt
  upload/upload.py
Labels: enhancement

#74 #16 test upload
  .github/badges/pylint.svg
  .github/badges/test.svg
  upload/README.md
  upload/requirements.txt
  upload/test_upload.py
  upload/upload.py
Labels: testing

#75 #63 modify extract
  .github/badges/pylint.svg
  .github/badges/test.svg
  pipeline/etl.py
  pipeline/extract.py
  pipeline/transform.py
Labels: pipeline

#76 #64 rds to s3 etl
  .github/badges/pylint.svg
  .github/badges/test.svg
  rds_to_s3/etl.py
Labels: pipeline, database

#78 #68 test api
  pipeline/README.md
  pipeline/api.py
  pipeline/test_api.py
Labels: enhancement, testing, pipeline

#79 #16 load
  .github/badges/pylint.svg
  pipeline/etl.py
  pipeline/load.py
  pipeline/schema.sql
Labels: pipeline

#80 #51 combined etl script
  .github/badges/pylint.svg
  pipeline/etl.py
Labels: pipeline

#81 #67 test clean
  .github/badges/pylint.svg
  clean/README.md
  clean/clean.py
  clean/test_clean.py
Labels: testing, pipeline

#82 #20 test transform
  .github/badges/pylint.svg
  .github/badges/test.svg
  clean/test_clean.py
  pipeline/README.md
  pipeline/test_extract.py
  pipeline/test_transform.py
  pipeline/transform.py
Labels: testing, pipeline

#84 #21 test load
  .github/badges/pylint.svg
  .github/badges/test.svg
  pipeline/README.md
  pipeline/load.py
  pipeline/test_load.py
Labels: testing, pipeline

#83 update s3 etl lambdafied
  .github/badges/pylint.svg
  .gitignore
  rds_to_s3/dockerfile
  rds_to_s3/etl_lambda.py
  rds_to_s3/requirements.txt
  terraform/pipeline_ecs.tf
  terraform/rds_to_s3_ecr.tf
  terraform/rds_to_s3_lambda.tf
  terraform/requirements.txt
  terraform/upload_ecs.tf
  terraform/variables.tf
Labels: terraform, pipeline

#88 #85 test rdss3
  rds_to_s3/app.log
  rds_to_s3/test_etl.py
Labels: testing, pipeline

#87 #86 changing upload and extract
  .github/badges/pylint.svg
  .github/badges/test.svg
  pipeline/etl.py
  pipeline/extract.py
  pipeline/load.py
  pipeline/schema.sql
  pipeline/test_load.py
Labels: pipeline

#94 #19 test extract
  .github/badges/pylint.svg
  pipeline/README.md
  pipeline/extract.py
  pipeline/test_extract.py
Labels: testing, pipeline

#95 #63 modify extract
  .github/badges/pylint.svg
  pipeline/etl.py
  pipeline/extract.py
  pipeline/schema.sql
Labels: bug, pipeline

#103 Dashboard - User Login
  .github/badges/pylint.svg
  dashboard/dashboard.py
  dashboard/requirements.txt
  pipeline/api.py
  requirements.txt
Labels: enhancement, dashboard, database

#105 #63 modify extract
  .github/badges/pylint.svg
  pipeline/extract.py
Labels: pipeline

#106 #89 modify load
  .github/badges/pylint.svg
  pipeline/etl.py
  pipeline/load.py
  pipeline/schema.sql
Labels: pipeline

#108 #99 prediction model
  .github/badges/pylint.svg
  dashboard/predict_mentions.py
  dashboard/requirements.txt
Labels: dashboard

#107 Adapted etl_lambda
  rds_to_s3/README.md
  rds_to_s3/app.log
  rds_to_s3/etl_lambda.py
Labels: pipeline, database

#110 #109 dockerise pipeline
  .github/badges/pylint.svg
  dashboard/combined_data.py
  pipeline/Dockerfile
  pipeline/api.py
  pipeline/extract.py
  pipeline/requirements.txt
  pipeline/transform.py
Labels: enhancement, pipeline

#112 #111 fix etl tests
  .github/badges/pylint.svg
  pipeline/api.py
  pipeline/extract.py
  pipeline/requirements.txt
  pipeline/test_api.py
  pipeline/test_extract.py
  pipeline/test_load.py
  rds_to_s3/etl_lambda.py
  rds_to_s3/test_etl.py
Labels: bug, testing

#116 adding logo for dashboard
  trend_getters.png
Labels: documentation, enhancement, dashboard

#117 Rename trend_getters.png to images/trend_getters.png
  .github/badges/pylint.svg
  images/trend_getters.png
Labels: dashboard

#118 Adding no writing logo
  images/logo-no-writing.png
Labels: dashboard

#123 Updating keyword data notifications
  terraform/eventbridge_update_step_function.tf
  terraform/keyword_notification_update_ecr.tf
  terraform/keyword_notification_update_ecs.tf
  terraform/notifications_lambda.tf
Labels: terraform, pipeline

#119 Keyword recordings update script
  .github/badges/pylint.svg
  notifications-pipeline/Dockerfile
  notifications-pipeline/notify_pipeline.py
  notifications-pipeline/requirements.txt
  notifications/Dockerfile
  notifications/notify.py
  notifications/requirements.txt
Labels: enhancement

#128 Update readme
  .gitignore
  README.md
  dashboard/README.md
  notifications/README.md
  pipeline/README.md
  rds_to_s3/README.md
  rds_to_s3/requirements.txt
  terraform/README.md
Labels: documentation

#132 Kurt812 patch 1
  terraform/upload_ecs.tf
Labels: terraform

#133 Merging development into Main
  .github/badges/pylint.svg
  .github/badges/test.svg
  README.md
  dashboard/Home.py
  dashboard/pages/Subscribe.py
  dashboard/pages/Trend_Related_Terms.py
  pipeline/etl.py
Labels: bug, documentation, enhancement, dashboard

#135 improvements to readme
  README.md
Labels: documentation
